.thruster-container{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto auto;
    margin-top: 5px;
}
.thruster-title{
    grid-column-start: span 2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
