.servo-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.servo-angle{
    width: 100%;
    text-align: center;
}

.servo-title{
    @extend .servo-angle;
    border-bottom: solid;
}

