.tweaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.tweaker-title{
    width: 100%;
    text-align: center;
    border-bottom: solid;
    grid-column: 1 / 3;
}

.tweaker-subtitle{
    @extend .tweaker-title;
    grid-column: span 1;
}