.tweaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto repeat(3, 1fr) auto;
    grid-auto-flow: column;
    gap: 5px;
}

.tweaker-title{
    width: 100%;
    text-align: center;
    border-bottom: solid;
    grid-column: 1 / 3;
}

.tweaker-subtitle{
    @extend .tweaker-title;
    grid-column: span 1;
}

.tweaker-subtitle-left{
    @extend .tweaker-title;
    grid-column: 1;
    grid-row: 2;
}

.tweaker-subtitle-right{
    @extend .tweaker-title;
    grid-column: 2;
    grid-row: 2;
}

.reverse-container{
    grid-row: 6;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}